<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Unsubscribe</title>
</head>
<body>
    <section class="section">
        <div class="container">
  <h1 class="title">Your subscription preferences have been updated</h1>

  <br>

  <p class="subtitle">Please allow up to 10 days for this to take effect.</p>
  </div>
</section>
</body>
</html>